{% extends "base.html" %}

{% block content %}
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <h3 class="title">Join a Room</h3>
            <div class="box">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
                {% endwith %}
                <form method="POST" action="/room/join">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="name" placeholder="Name" minlength="4" maxlength="20" autofocus="" required>
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="secret" placeholder="Secret">
                        </div>
                    </div>
                    <button class="button is-block is-info is-large is-fullwidth">Join</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
