{% extends "base.html" %}

{% block content %}
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <h3 class="title">Edit a Gift Item</h3>
            <div class="box">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
                {% endwith %}
                <form method="POST" action="/room/list/item/edit">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                      <div class="field">
                          <div class="control">
                            <input class="input is-large" type="text" name="name" minlength="1" maxlength="40" placeholder="Name" value="{{ item.name }}" autofocus=""> 
                          </div>
                      </div>
                      <div class="field">
                        <div class="control">
                            <input class="input is-large" type="number" name="quantity" placeholder="Quantity" value="{{ item.quantity }}">
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                            <input class="input is-large" type="number" name="price" placeholder="Price" value="{{ item.price }}">
                      </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <input class="input is-large" type="url" name="url" pattern="https://.*" placeholder="Link (URL)" value="{{ item.url }}">
                        </div>
                      </div>
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <input type="hidden" name="room_id" value="{{ room.id }}">
                    <button type="submit" class="button is-block is-info is-large is-fullwidth">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
